<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content gray-container rounded-5">
      <div class="bg-white m-5 shadow-sm">
        <div class="modal-header border-0">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body text-center">
          <h2 class="text-uppercase fs-6">🚀 Site Under Development</h2>
          <p class="text-secondary my-3">
            This site is still in development and is currently optimized for
            Android devices.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
